.whatsappWidget {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9990;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 60px;
  // height: 60px;
  // border-radius: 50%;
  // transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.3s ease;
  
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }

  .widgetIcon {
    // width: 60px;
    // height: 60px;
    // border-radius: 50%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .whatsappWidget {
    bottom: 20px;
    right: 20px;
 

    .widgetIcon {
      width: 100px;
      height: 40px;
      border-radius: 40px;

    }
  }
}
